// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$onClickDark: rgb(204, 204, 204);
$dark: rgb(185, 185, 185);
$halfdark: rgba(185, 185, 185, 0.514);
$light: rgb(223, 223, 223);
$deepdark: rgb(61, 61, 61);
